<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/Admin/Layout/Layout :: dynamic (~{::main})}">
    <!-- Main Content -->
    <main id="content">

        <!-- Topbar -->
        <div th:replace="~{/Admin/Layout/TopBar}"></div>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Hóa Đơn</h1>

            
             <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Bảng Dữ Liệu</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                        	
                                            <th>ID Hóa Đơn</th>
                                            <th>Ngày Tạo Hóa Đơn</th>
                                            <th>Địa Chỉ</th>
                                            <th>Email</th>
                                            <th>Tên Sản Phẩm</th>
                                            <th>Giá</th>
                                            <th>Số Lượng</th>
                                            <th>Tổng Tiền</th>
                                            

                                        </tr>
                                    </thead>
                                   <tfoot>
                                        <tr>
                                        	
                                            <th>ID Hóa Đơn</th>
                                            <th>Ngày Tạo Hóa Đơn</th>
                                            <th>Địa Chỉ</th>
                                            <th>Email</th>
                                            <th>Tên Sản Phẩm</th>
                                            <th>Giá</th>
                                            <th>Số Lượng</th>
                                            <th>Tổng Tiền</th>
                                            

                                        </tr>
                                    </tfoot>
                                    <tbody>

                                        <tr th:each="HDCTService : ${HDCTService}">
                                            <td>[[${HDCTService.hoadon.id_hd}]]</td>
                                            <td>[[${HDCTService.hoadon.ngaytaohoadon}]]</td>
                                            <td>[[${HDCTService.hoadon.diachi}]]</td>
                                            <td>[[${HDCTService.hoadon.email}]]</td>
                                            <td>[[${HDCTService.sanpham.ten}]]</td>
                                            <td>[[${HDCTService.sanpham.gia}]]</td>
                                            <td>[[${HDCTService.soluong}]]</td>
                                            <td>[[${HDCTService.soluong * HDCTService.sanpham.gia}]] VNĐ</td>
                                            <!-- <td>
                                                <a class="text-white bg-danger"
                                                    th:href="@{|/Admin/HoaDonChiTiet/Delete/${HDCTService.id_hdct}|}">Xóa</a>
                                                <a class="text-white  bg-info"
                                                    th:href="@{|/Admin/HoaDonChiTiet/Edit/${HDCTService.id_hdct}|}" >Sửa</a>
                                            </td> -->
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end -->

            



        </div>
        <!-- /.container-fluid -->

    </main>
    <!-- End of Main Content -->
</div>