<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quản Lý Bán Sách</title>
    <link rel="icon" th:href="@{https://pantado.edu.vn/storage/media/J4NYFXsKcVTHILWiTfiw5dIDSRXQ57n9SHWLnjEx.jpeg}" type="image/x-icon">
	<link rel="shortcut icon" th:href="@{https://pantado.edu.vn/storage/media/J4NYFXsKcVTHILWiTfiw5dIDSRXQ57n9SHWLnjEx.jpeg}" type="image/x-icon">

    <!-- Custom fonts for this template-->
    <link th:href="@{/asses/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/asses/css/sb-admin-2.min.css}" rel="stylesheet">
    
    <!-- Custom styles for this page -->
    <link th:href="@{/asses/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.5/dist/sweetalert2.min.css">
    
     

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
		<!-- SlideBar -->
        <div th:replace="~{/Admin/Layout/SlideBar}"></div>
		<!-- SlideBar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
        
        	<!-- Main Content -->
        	<main  th:replace="${main}"></main>
        	<!-- Main Content -->
            
            <!-- Footer -->
            <div th:replace="~{/Admin/Layout/Footer}"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
        
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có muốn đăng xuất</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Đóng</button>
                    <a class="btn btn-primary" th:href="@{/logoff}">Đăng Xuất</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/asses/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/asses/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/asses/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/asses/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/asses/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/asses/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/asses/js/demo/datatables-demo.js}"></script>
    
    <script src="path/to/vi.json"></script> <!-- Đường dẫn đến tệp ngôn ngữ Tiếng Việt -->
    
    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    
    <!--<-->script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.5/dist/sweetalert2.all.min.js"></script>

</body>

</html>