<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/Admin/Layout/Layout :: dynamic (~{::main})}">
    <!-- Main Content -->
    <main id="content">

        <!-- Topbar -->
        <div th:replace="~{/Admin/Layout/TopBar}"></div>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Sản Phẩm</h1>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">From</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">Bảng</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane  active" id="home">
                    <!-- From -->
                    <div class="my-4 ">
                        <form th:object="${TLEntity}" method="post">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">ID Thể Loại </label>
                                <input type="text" class="form-control" id="" aria-describedby="emailHelp" th:field="*{id_tl}">
                                <div id="emailHelp" class="form-text text-danger" th:errors="*{id_tl}"> </div>
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Tên Thể Loại</label>
                                <input type="text" class="form-control" th:field="*{tentheloai}">
                                <div id="emailHelp" class="form-text text-danger" th:errors="*{tentheloai}"></div>
                            </div>

                            
    
                            <button  class="btn btn-success mx-2" th:formaction="@{/Admin/TheLoai/Create}">Thêm</button>
                            <button  class="btn btn-success mx-2" th:formaction="@{/Admin/TheLoai/Create}">Cập Nhật</button>
                            <a  class="btn btn-info mx-2" th:href="@{/Admin/TheLoai}" >Làm Mới</a>
                        </form>
                    </div>

                    <!-- End From -->
                </div>
                <div class="tab-pane  fade" id="menu1">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Bảng Dữ Liệu</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID Thể Loại</th>
                                            <th>Tên Thể Loại</th>
                                            <th></th>
                                            
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                             <th>ID Thể Loại</th>
                                            <th>Tên Thể Loại</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        
                                        <tr th:each="TLService : ${TLService}">
            								<td th:text="${TLService.id_tl}"></td>
            								<td>[[${TLService.tentheloai}]]</td>
            								
            								<td>
            									<a class="text-white bg-danger " th:href="@{|/Admin/TheLoai/Delete/${TLService.id_tl}|}">Xóa</a>
            									<a class="text-white  bg-info" th:href="@{|/Admin/TheLoai/Edit/${TLService.id_tl}|}">Sửa</a>
            								</td>
        								 </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end Table -->
                </div>

            </div>



        </div>
        <!-- /.container-fluid -->

    </main>
    <!-- End of Main Content -->
</div>
<script src="/Admin/validation/taikhoan/phanquyen.js"></script>