<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/home/layout :: dynamic (~{::main})}">
<!-- BEGIN MAIN -->
<main class="main">
    

    <!-- BEGIN RESET PASSWORD -->
    <div class="login-page" align="center">
        <div class="login-page__all">
            <div class="login-page__main">
                <form th:action="@{|/reset-password|}" method="post">
                    <div class="login-form">
                        <div class="login-form__top">
                            <h2 class="login-form__title"><th:block th:text="#{user.resetpass}"></th:block></h2>
                        </div>
                        <input type="hidden" name="tokenn" th:value="${tokenn}" />
	                    <span class="login-form__label"><th:block th:text="#{user.newpass}"></th:block></span>
                        <input class="text-input" type="password" id="password" name="password" th:placeholder="#{user.newpassph}" required autofocus/>
	                    <span class="login-form__label"><th:block th:text="#{user.confirmpass}"></th:block></span>
                        <input class="text-input" type="password" id="confirmPassword" name="confirmPassword" th:placeholder="#{user.confirmpassph}" required oninput="checkPassword(this);"/>
                        
                        <button class="login-form__button button" type="submit">
                            <span class="button__text"><th:block th:text="#{user.submit}"></th:block></span>
                        </button>
						<div th:if="${not #strings.isEmpty(message)}" style="margin-top: 20px; color: red; text-align: center" th:text="${message}"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- RESET PASSWORD END -->
    <script>
    function checkPassword(password) {
        var confirmPassword = $("#confirmPassword").val(); // Assuming confirmPassword is the ID of the confirm password input

        if (password.value !== confirmPassword) {
            password.setCustomValidity("Passwords do not match");
        } else {
            password.setCustomValidity("");
        }
    }
</script>
</main>
<!-- MAIN END -->
</div>