<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/Admin/Layout/Layout :: dynamic (~{::main})}">
    <!-- Main Content -->
    <main id="content">

        <!-- Topbar -->
        <div th:replace="~{/Admin/Layout/TopBar}"></div>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Bình Luận</h1>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">From</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">Bảng</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane  active" id="home">
                    <!-- From -->
                    <div class="my-4 ">
                        <form th:object="${BLEntity}" method="post">


                            <div class="mb-3" >
                                <label for="exampleInputEmail1" class="form-label">ID Bình Luận</label>
                                <input type="text" class="form-control" th:field="*{id_bl}" readonly>
                                <div id="" class="form-text text-danger" th:errors="*{id_bl}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Bình Luận</label>
                                <input type="text" class="form-control" th:field="*{binhluan}" readonly>
                                <div id="" class="form-text text-danger" th:errors="*{binhluan}"></div>
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Đánh Giá</label>
                                <input type="text" class="form-control" th:field="*{danhgia}" readonly>
                                <div id="" class="form-text text-danger" th:errors="*{danhgia}"></div>
                            </div>

                            <div class="mb-3" >
                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                <input type="email" class="form-control" th:field="*{taikhoan.email}"  readonly>
                                <div id="emailHelp" class="form-text text-danger" ></div>
                            </div>
                            <div class="mb-3" style="display:none">
                                <label for="exampleInputEmail1" class="form-label">Mật Khẩu</label>
                                <input type="text" class="form-control" th:field="*{taikhoan.matkhau}"readonly>
                                <div id="emailHelp" class="form-text text-danger" ></div>
                            </div>
                            <div class="mb-3" >
                                <label for="exampleInputEmail1" class="form-label">Họ  Và Tên</label>
                                <input type="text" class="form-control" th:field="*{taikhoan.hovaten}"readonly>
                                <div id="emailHelp" class="form-text text-danger" ></div>
                            </div>
                            <div class="mb-3" style="display:none">
                                <label for="exampleInputEmail1" class="form-label">Ảnh</label>
                                <input type="text" class="form-control" th:field="*{taikhoan.anh}"readonly>
                                <div id="emailHelp" class="form-text text-danger" ></div>
                            </div>
                            <div class="mb-3" style="display:none">
                                <label for="exampleInputEmail1" class="form-label">Địa Chỉ</label>
                                <input type="text" class="form-control" th:field="*{taikhoan.diachi}"readonly>
                                <div id="emailHelp" class="form-text text-danger" ></div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">ID Sản Phẩm</label>
                                <input type="text" class="form-control" th:field="*{sanpham.id_sp}"readonly>
                                <div id="" class="form-text text-danger"></div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Tên</label>
                                <input type="text" class="form-control" th:field="*{sanpham.ten}"readonly>
                                <div id="" class="form-text text-danger"></div>
                            </div>
                            <div class="mb-3" style="display:none">
                                <label for="exampleInputEmail1" class="form-label">Giá</label>
                                <input type="text" class="form-control" th:field="*{sanpham.gia}"readonly>
                                <div id="" class="form-text text-danger"></div>
                            </div>
                            <div class="mb-3" style="display:none">
                                <label for="exampleInputEmail1" class="form-label">Ngày Xuất Bản</label>
                                <input type="date"   class="form-control" th:field="*{sanpham.ngayxuatban}"readonly>
                                <div id="" class="form-text text-danger"></div>
                            </div>
                            <div class="mb-3" style="display:none">
                                <label for="exampleInputEmail1" class="form-label">Ảnh</label>
                                <input type="text" class="form-control" th:field="*{sanpham.anh}"readonly>
                                <div id="" class="form-text text-danger"></div>
                            </div>
                            <div class="mb-3"style="display:none">
                                <label for="exampleInputEmail1" class="form-label">Số Lượng Sản Phẩm</label>
                                <input type="text" class="form-control" th:field="*{sanpham.soluongsp}"readonly>
                                <div id="" class="form-text text-danger"></div>
                            </div>
                            
                            <div class="mb-3"style="display:none">
                                <label for="exampleInputEmail1" class="form-label">ID Thể Loại</label>
                                <input type="text" class="form-control" th:field="*{sanpham.theloai.id_tl}"readonly>
                                <div id="" class="form-text text-danger"></div>
                            </div>
                            <div class="mb-3" >
                                <label for="exampleInputEmail1" class="form-label">Tên Thể Loại</label>
                                <input type="text" class="form-control" th:field="*{sanpham.theloai.tentheloai}"readonly>
                                <div id="" class="form-text text-danger"></div>
                            </div>
                            
                            <button class="btn btn-success mx-2" th:formaction="@{/Admin/BinhLuan/Create}">Cập Nhật</button>
                            <button class="btn btn-info mx-2" th:formaction="@{/Admin/BinhLuan}">Làm Mới</button>
                        </form>
                    </div>

                    <!-- End From -->
                </div>
                <div class="tab-pane  fade" id="menu1">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Bảng Dữ Liệu</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID Bình Luận</th>
                                            <th>Bình Luận</th>
                                            <th>Đánh Giá</th>
                                            <th>Email</th>
                                            <th>ID Sản Phẩm</th>
                                            <th>Tên Sản Phẩm</th>
                                            <th>Thể Loại</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID Bình Luận</th>
                                            <th>Bình Luận</th>
                                            <th>Đánh Giá</th>
                                            <th>Email</th>
                                            <th>ID Sản Phẩm</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>

                                        <tr th:each="BLService : ${BLService}">
                                            <td th:text="${BLService.id_bl}"></td>
                                            <td>[[${BLService.binhluan}]]</td>
                                            <td>[[${BLService.danhgia}]]</td>
                                            <td>[[${BLService.taikhoan.email}]]</td>
                                            <td>[[${BLService.sanpham.id_sp}]]</td>
                                            <td>[[${BLService.sanpham.ten}]]</td>
                                            <td>[[${BLService.sanpham.theloai.tentheloai}]]</td>
                                            <td>
                                                <a class="text-white bg-danger "
                                                    th:href="@{|/Admin/BinhLuan/Delete/${BLService.id_bl}|}">Xóa</a>
                                                <a class="text-white  bg-info"
                                                    th:href="@{|/Admin/BinhLuan/Edit/${BLService.id_bl}|}">Sửa</a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end Table -->
                </div>

            </div>



        </div>
        <!-- /.container-fluid -->

    </main>
    <!-- End of Main Content -->
</div>