<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/Admin/Layout/Layout :: dynamic (~{::main})}">
	<!-- Main Content -->
	<main id="content" ng-app="appBL" ng-controller="ctrlBL">

		<!-- Topbar -->
		<div th:replace="~{/Admin/Layout/TopBar}"></div>
		<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<h1 class="h3 mb-2 text-gray-800">Bình Luận</h1>

			<p style="display: none">Giá trị của "TC" là: <span th:text="${message}" id="TB"></span></p>
			<!-- DataTales Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Bảng Dữ Liệu</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>

									<th>ID Bình Luận</th>
									<th>Bình Luận</th>
									<th>Đánh Giá</th>
									<th>Email</th>
									<th>ID Sản Phẩm</th>
                                    <th>Tên Sản Phẩm</th>
                                    <th>Thể Loại</th>
									<th></th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>ID Bình Luận</th>
									<th>Bình Luận</th>
									<th>Đánh Giá</th>
									<th>Email</th>
									<th>ID Sản Phẩm</th>
                                    <th>Tên Sản Phẩm</th>
                                    <th>Thể Loại</th>
									<th></th>
								</tr>
							</tfoot>
							<tbody ng-repeat="item in items">
								<tr >
									<td>{{item.id_bl}}</td>
									<td>{{item.binhluan}}</td>
									<td>{{item.danhgia}}</td>
									<td>{{item.taikhoan.email}}</td>
                                    <td>{{item.sanpham.id_sp}}</td>
                                    <td>{{item.sanpham.ten}}</td>
                                    <td>{{item.sanpham.theloai.tentheloai}}</td>
                                    
									<td><a class="text-white bg-danger" ng-click="delete(item)" >Xóa</a></td>
								</tr>
								<tr></tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!--end  -->



		</div>
		<!-- /.container-fluid -->

	</main>
	<!-- End of Main Content -->
</div>
<script src="/Admin/js/sanpham/binhluan.js"></script>