<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/home/layout :: dynamic (~{::main})}">
<title>
 	<th:block th:text="#{user.checkout}"></th:block>
 	 | Book Co., Ltd
</title>
<!-- BEGIN MAIN -->
<main class="main">

	<!-- BEGIN CHECKOUT -->
	<div class="checkout-page wrapper">
		<div class="checkout-nav">
			<div class="checkout-nav__item active current">
				<span class="checkout-nav__text"> 
					<th:block th:text="#{user.orderdetail}"></th:block>
				</span>
			</div>
			<div class="checkout-nav__item">
				<span class="checkout-nav__text"> 
					<th:block th:text="#{user.finish}"></th:block>
				</span>
			</div>
		</div>

		<div class="checkout-page__cols">
			<!-- BEGIN LEFT COLUMN -->
			<div class="checkout-page__left">
				<form>
					<section class="checkout-form">
						<h2 class="checkout-form__title"> 
							<th:block th:text="#{user.receiver}"></th:block>
						</h2>
						<span class="login-form__label"> 
							Email:
						</span>
						<input class="text-input" type="text" id="email" name="email" th:value="${request.remoteUser}" ng-readonly="true" required>
						<!-- <span class="login-form__label"> 
							<th:block th:text="#{user.phone}"></th:block>
							*
						</span>
						<input class="text-input" type="text" name="phone" placeholder="0876796123"
							required> -->
						<span class="login-form__label"> 
							<th:block th:text="#{user.dateOrder}"></th:block>
							:
						</span>
						<input class="text-input" type="text" name="date" ng-model="order.ngaytaohoadon | date : 'yyyy-MM-dd'" ng-readonly="true" required>

						<span class="login-form__label"> 
							<th:block th:text="#{user.address}"></th:block>
							*
						</span>
						<textarea class="checkout-form__textarea textarea" name="address" ng-model="order.diachi"
							placeholder="123 Vo Thi Sau, District 1, Ho Chi Minh City" required></textarea>
						<div class="checkout-form__buttons">
							<div class="checkout-form__button-col">
								<a th:href="@{|/cart|}" class="checkout-form__back back-button"> 
									<th:block th:text="#{user.return}"></th:block>
								</a>
							</div>
							<div class="checkout-form__button-col">
								<button class="checkout-form__button button" ng-click="order.purchase()">
									<span class="button__text"> 
										<th:block th:text="#{user.confirm}"></th:block>
									</span>
								</button>
							</div>
						</div>
					</section>
				</form>
			</div>
			<!-- LEFT COLUMN END -->

			<!-- BEGIN RIGHT COLUMN -->
			<aside class="checkout-page__right">
				<section class="your-order">
					<h3 class="your-order__title"> 
						<th:block th:text="#{user.yourorder}"></th:block>
					</h3>
					<div class="side-cart" ng-repeat="item in cart.items">
							<input type="hidden" name="id" value="${item.id}">
							<article class="side-cart__item">
								<div class="side-cart__cols">
									<div class="side-cart__left">
										<a class="side-cart__image-link" th:href="@{|/detail/{{item.id_sp}}|}">
											<img class="side-cart__image" th:src="@{|/user/img/products/{{item.anh}}|}">
										</a>
									</div>
									<div class="side-cart__right">
										<h4 class="side-cart__title">
											<a class="side-cart__link" href="product">{{item.ten}} </a>
										</h4>
										 x {{cart.count}}
										<div class="side-cart__prices">
											<span class="side-cart__price">
												${{cart.amount | number : 2}}
											</span>
										</div>
									</div>
								</div>
							</article>
					</div>
					<ul class="your-order__list">
						<li class="your-order__item">
							<div class="your-order__col">
								<span class="your-order__text"> 
									<th:block th:text="#{user.subtotal}"></th:block>
								</span>
							</div>
							<div class="your-order__col">
								<span class="your-order__price">
									${{cart.amount | number : 2}}
								</span>
							</div>
						</li>
						<li class="your-order__item">
							<div class="your-order__col">
								<span class="your-order__text"> 
									<th:block th:text="#{user.promotext}"></th:block>
								</span>
							</div>
							<div class="your-order__col">
								<span class="your-order__text"> 
									<th:block th:text="#{user.no}"></th:block>
								</span>
							</div>
						</li>
						<li class="your-order__item">
							<div class="your-order__col">
								<span class="your-order__text"> 
									<th:block th:text="#{user.transport}"></th:block>
								</span>
							</div>
							<div class="your-order__col">
								<span class="your-order__price">$0</span>
							</div>
						</li>
					</ul>
					<div class="your-order__bottom">
						<div class="your-order__col">
							<span class="your-order__bottom-text"> 
								<th:block th:text="#{user.total}"></th:block>
							</span>
						</div>
						<div class="your-order__col">
							<span class="your-order__bottom-price">
								${{cart.amount | number : 2}}
							</span>
						</div>
					</div>
				</section>
			</aside>
			<!-- RIGHT COLUMN END -->
		</div>
	</div>
	<!-- CHECKOUT END -->
</main>
<!-- MAIN END -->
</div>